@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhLybvUVw.woff2");


#navItem1 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem2 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem3 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem4 {
    font-family: "Roboto";
    color: #323f4b;
}

.food-munch-logo {
    width: 80px;
    height: 70px;
    border-radius: 6px;
}

.banner-section-bg-container {
    background-image: url("https://www.1843magazine.com/sites/default/files/styles/il_manual_crop_16_9/public/201804_FD_CHI_01-header.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: 50px;
}

/* https://imagehost9.online-image-editor.com/oie_upload/images/218313U9B4VV/211030486m21Edwd.jpg
 */
.banner-heading {
    color: white;
    font-family: "Josefin Sans", "sans-serif";
    font-size: 75px;
    font-weight: 500;
    
}

.banner-caption {
    font-family: "Caveat";
    font-weight: 500;
    font-size: 45px;
    color: white;
}

/* .custom-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: #d0b200;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    width: 130px;
    height: 45px;
    color: #d0b200;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #d0b200;
    border-radius: 8px;
}

 */


.title-text {
    font-family: "Josefin Sans", "sans-serif";
    text-align: center;
    padding-top: 75px;
    font-size: 40px;
    color: #a62055;
    font-weight: 500;
}

.title-para {
    font-family: "Roboto";
    text-align: center;
    font-size: 22px;
    color: grey;
}

.view-button {
    height: 45px;
    width: 350px;
    margin-top: 20px;
    background-color: transparent;
    font-family: "Josefin Sans", "sans-serif";
    font-size: 22px;
    font-weight: 500;
    border-radius: 2px;
    transition: 0.4s;
    border-style: solid;
    border-color: #a62055;
    color:#a62055;
}

.view-button:hover {
    background-color: #a62055;
    color: white;
}

.bg-container1 {
    background-image: url("");
    background-size: cover;
    width: 35vw;
    height: 300px;
}


.bg-imagetext1 {
    font-family: "Josefin Sans", "sans-serif";
    font-size: 20px;
    padding-top: 5px;
    font-weight: 300;
    text-align: center;
}

.bg-imagetext2 {
    font-family: "Josefin Sans", "sans-serif";
    font-size: 40px;
    font-weight: 400;
    padding-top: 15px;
    text-align: center;
    color: #a62055;
}

.bg-imagepara1con {
    height: 350px;
    width: 300px;
    background-color: transparent;
}

.bg-image-size {
    height: 300px;
    width: 35vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-container2 {
    width: 35vw;
}

.bg-container3 {
    background-color: white;
}

.bg-container2para {
    font-family: "Roboto";
    padding: 20px;
    font-size: 20px;
    color: grey;
}

.main-bg-con-image {
    background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.main-bg-con-image2 {
    background-image: url("https://cdn.otstatic.com/restref-site/img/png/wood-grain-pattern-gray@1x.png");
    
}

.bg-main-con-margin {
    margin-top: 50px;

}

.nfknf{
    background-color: transparent;
}

.our-service-con {
    height: 500px;
    background-color: white;
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
}

.corousel-image {
    height: 500px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
}

.corousel-image-small {
    height: 250px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
}

.bg-light {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

 /* .osc-text {
    text-align: center;
    font-family: "roboto";
    font-size: 40px;
    padding-top: 35px;
    font-weight: 300;
    color: white;
    font-family: "Sacramento", cursive;
} */
/* 
.osc-center-con {
    background-color: #a62055;
    margin-left: 35%;
    margin-right: 35%;
    height: 400px;
    margin-top: 25px;
}  */

.breakfast-con {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 45px;
}

.breakfast-text {
    text-align: center;
    font-family: "timesnewroman";
    color: #a62055;
    font-size: 40px;
    font-weight: 500;
    padding-top: 25px;
}

.breakfast-para {
    font-family: "Roboto";
    text-align: center;
    font-size: 22px;
    color: grey;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15px;
}

.breakfast-text-small {
    text-align: center;
    font-family: "roboto";
    color: #a62055;
    font-size: 40px;
    font-weight: 500;
    padding-top: 25px;
}

.breakfast-para-small {
    font-family: "Roboto";
    text-align: center;
    font-size: 22px;
    color: grey;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 8px;
}

.font-prev-icon{
    height: 45px;
    width: 45px;
    margin-top: 15px;
    margin-bottom: 35px;
    /* background-color: #a62055; */
    margin-right: 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    transition: 0.4s;
}

.font-prev-icon:hover{
    border-color: #a62055;
}

.font-next-icon {
    height: 45px;
    width: 45px;
    margin-top: 15px;
    margin-bottom: 35px;
    /* background-color: #a62055; */
    margin-left: 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    transition: 0.4s;
}

.font-next-icon:hover {
    border-color: #a62055;
}

.view-menu {
    color: black;
    font-family: "Josefin Sans", "sans-serif";
    font-size: 22px;
    transition: 0.4s;
}

.view-menu:hover {
    color: #a62055;
}

.hr-height {
    height: 1px;
    background-color: #a62055;
}

.hr-height-2 {
    height: 0.5px;
    background-color: #a62055;
}

.carousel-inner {
    position: relative;
    width:"";
    overflow: hidden;
    margin-top: 100px;
    background-color: transparent;
}

.capacity-text{
    color: #a62055;
    font-size: 24px;
    font-family: "Sacramento", cursive;
    font-weight: bolder;
}

.live-kitchen-text {
    text-align: center;
    font-size: 20px;
    font-family: "Josefin Sans", "sans-serif";
    padding-right: 20px;
    color: #a62055;
}

.list-text {
    color: black;
    font-family: "roboto";
    font-size: 18px;
    padding-top: 5px;
}

.fassai-con {
    background-color: #a62055;
    height: 80px;
}

.fassai-text {
    color: white;
    font-family: "italic";
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}